<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="body-search">
      <div class="header">
        <button>destra</button>
        <button>sinistra</button>
        <input type="search" name="" id="" />
        <button class="button">Iscriviti</button>
        <button class="button">Accedi</button>
      </div>
      <div class="search-card">
        <div class="content">
          <div class="sfoglia">Sfoglia tutto</div>
          <div class="cards-space">
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
            <div class="card">
              <div class="title">Podcast</div>
              <img
                class=".img"
                src="https://i.scdn.co/image/567158eb895ad26718a814345af0fc43ee785ec5"
                alt="alt"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
