* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.side-navbar {
  font-family: var(--font-family,
      CircularSp,
      CircularSp-Arab,
      CircularSp-Hebr,
      CircularSp-Cyrl,
      CircularSp-Grek,
      CircularSp-Deva,
      var(--fallback-fonts, sans-serif));

  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: auto;
  min-height: auto;
  overflow-y: hidden;
    height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  border-radius: 8px;
}

.header,
.content {
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  background-color: #121212;
}

ul {
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  list-style: none;
}

li {
  color: #b3b3b3;
  display: flex;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  height: 40px;
}

li:first-child {
  color: white;
}

li:hover {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.side-header {
  display: flex;
  flex-direction: column;
  color: #a7a7a7;
  padding-inline: 8px;
  padding-bottom: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-header::-webkit-scrollbar {
  width: 10px;
}

.side-header::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);

}

.side-header::-webkit-scrollbar-track {
  background-color: transparent
}

.library {
  color: #a7a7a7;
  padding: 8px;
  padding-inline: 16px;
}

.library-content {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 14px;
  height: 40px;
}

.library:hover {
  color: white;
}

.library>.svg-lib:hover {
  fill: white;
}

.svg-lib2 {
  align-items: center;
  margin-left: auto;
}

.functions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.group {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #242424;
  padding: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  margin-block: 8px;
}

.group-p {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.p1 {
  margin-top: 4px;
  font-weight: 700;
}

.p2 {
  font-size: 13px;
  font-weight: 400;
}

.button {
  border: 0px;
  border-radius: 500px;
  background-color: #fff;
  min-block-size: 32px;
  padding-block: 4px;
  padding-inline: 16px;
  align-self: self-start;
  font-weight: 700;
}

.side-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.footer-elements {
  font-size: 10px;
  color: #a7a7a7;
  padding-inline: 24px;
  margin-block: 32px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
}

.links div {
  margin-right: 16px;
  height: 32px;
  display: flex;
  align-items: center;
}

.language {
  margin-bottom: 32px;
  padding-inline: 24px;
}

.button2 {
  border-radius: 500px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  min-block-size: 32px;
  padding-block: 4px;
  padding-inline: 16px;
  align-self: self-start;
}